<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
  <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
  <title>Lokafy Review</title>
</head>
<body>
        <div id="app"><!-- React --></div>
        
        <script src="{% static "frontend/main.js" %}"></script>
</body>

</html>